h1 {
  font-size: 50px;
  font-weight: 700;
}
p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  size: 100%;
}
h1 span{
   background-color:rgb(214, 53, 16);
   color: white;
   border-radius: 5px;
}
